.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

#issues-list-container {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

.issue-container {
  width: 50%;
  background-color: aquamarine;
  border-radius: 10px;
  margin: 10px 5px;
  padding-inline-start: 0;
}

.user-avatar {
  border-radius: 50%;
  width: 10%;
}

.search-label-container {
  display: flex;
}

.search-form {
  background-color: aquamarine;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.search-input {
  margin: 10px 5px;
}
