<div class="page-container">
  <main>
    <h1>Issues</h1>
    <span>github.com/{{ userInfo.name }}/{{ userInfo.repo }}/issues</span>

    <div class="filters-container">
      <div class="search-label-container">
        <div>
          <label for="label">Filtrar por Label:</label>
          <select class="filter-selector" name="label" id="label" #label>
            <option *ngFor="let l of labels" class="issue-container">
              {{ l.name }}
            </option>
          </select>
        </div>
        <!-- <button class="search-button" (click)="filterIssuesByLabel(label.value)">
        <span>Procurar</span>
      </button> -->
      </div>
      <label for="order">Ordernar por:</label>
      <select class="filter-selector" name="order" id="order" #order>
        <option value="asc">Nº de Comentários [Menor-Maior]</option>
        <option value="desc">Mº de Comentários [Maior-Menor]</option>
      </select>
    </div>
    <button class="search-button" (click)="sortIssuesByComments(order.value)">
      <p>Procurar</p>
    </button>
  </main>
  <ul id="issues-list-container">
    <li *ngFor="let i of issues" class="issue-container">
      <a href="{{ i.url }}">Issue #{{ i.id }}</a>
      <p>{{ i.title }}</p>
      <p>{{ i.comments }} comentários</p>
      <div class="user-info-container">
        <img class="user-avatar" src="{{ i.user.avatar_url }}" />
        <p class="user-name">{{ i.user.login }}</p>
        <li class="label-p" *ngFor="let label of i.labels">
          <div class="label-border">
            {{ label.name }}
          </div>
        </li>
      </div>
    </li>
  </ul>
</div>
