<div class="page-container">
  <h1>Todas as Issues</h1>
  <h2>github.com/{{ userInfo.name }}/{{ userInfo.repo }}/issues</h2>
  <div class="search-label-container">
    <div>
      <span>label:</span>
      <input class="search-input" type="text" name="label" #label />
    </div>
    <button class="search-button" (click)="filterIssuesByLabel(label.value)">
      <p>Procurar</p>
    </button>
  </div>
  <ul id="issues-list-container">
    <li *ngFor="let i of issues" class="issue-container">
      <a href="{{ i.url }}">Issue #{{ i.id }}</a>
      <p>{{ i.title }}</p>
      <div class="user-info-container">
        <img class="user-avatar" src="{{ i.user.avatar_url }}" />
        <p class="user-name">{{ i.user.login }}</p>
        <li class="label-p" *ngFor="let label of i.labels">
          <div class="label-border">
            {{ label.name }}
          </div>
        </li>
      </div>
    </li>
  </ul>
</div>
