.page-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
main {
  background-color: rgba(6, 137, 213, 0.57);
  border-radius: 5px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#issues-list-container {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

/* .issue-container {
  border: 2px solid rgba(6, 137, 213, 0.57);
  min-width: 300px;
  width: 20%;
  padding: 6px;
  border-radius: 10px;
  word-wrap: break-word;
  margin: 10px 5px;
  padding-inline-start: 0;
} */
/*
.issue-top {

} */

.user-info-container {
  /* border: 1px solid black; */
  width: 40%;
}

.bg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  padding: 0;
  margin: 10px;
}

.issue-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;

}

.issue-container {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid rgba(6, 137, 213, 0.57);
  padding: 20px;
  margin: 20px;
  width: 1000px;

}

/* .issue-container {
  margin-top: 70px;
  display: flex;
  background: #6a7c91;
  padding: 32px 32px;
  width: 550px;
  border-radius: 8px;
  margin-bottom: 20px;
} */

.user-avatar {
  border-radius: 50%;
  width: 10%;
}

.filters-container {
  margin: 10px 0;
}

.search-label-container {
  display: flex;
  justify-content: center;
}

.filter-selector {
  margin: 5px;
}

.search-form {
  background-color: aquamarine;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.search-input {
  margin: 10px 5px;
}

.label-name {
  background: rgb(94, 45, 209);
  border-radius: 3px 0 0 3px;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  -webkit-transition: color 0.2s;
}
