.page-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}


#issues-list-container{
  text-align: center;
  list-style-type: none;
}

.issue-container{
  background-color: aquamarine;
  margin: 0 5px;
}