<div class="background">
  <h2>Procurar Issues</h2>
  <form
    class="search-form"
    #form="ngForm"
    (submit)="navigateToAllIssues(form.value)"
  >
    <div>
      <span class="input-label">Username </span>
      <input class="search-input" type="text" ngModel name="name" />
    </div>
    <div>
      <span>Repositório</span>
      <input class="search-input" type="text" ngModel name="repo" />
    </div>
    <button class="search-button">
      <p>Obter todas as issues</p>
    </button>
  </form>
</div>
