.background {
  padding: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  background-color: aquamarine;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.search-input {
  margin: 10px 5px;
}
